---
layout: layouts/base.njk
title: Symposium Poster
permalink: /symposiumposter/
---
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">





<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>